@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  /* Color Primary */
  --color-primary-100: #ecebff;
  --color-primary-300: #a9a4f5;
  --color-primary-500: #7a76db;
  --color-primary-700: #504ca4;
  --color-primary-900: #2e2a7a;

  /* Color Secondary */
  --color-secondary-100: #e6e4f5;
  --color-secondary-300: #675ea6;
  --color-secondary-500: #2a255a;
  --color-secondary-700: #1b173d;
  --color-secondary-900: #0d0a20;

  /* Color Tertiary */
  --color-tertiary-100: #f9ebd2;
  --color-tertiary-300: #e8c58f;
  --color-tertiary-500: #e1c18d;
  --color-tertiary-700: #b99768;
  --color-tertiary-900: #8f6e42;

  /* Others */
  --color-disabled: #bdbdbd;
  --color-error: #b71c1c;
  --color-warning: #f28c28;
  --color-success: #2e7d32;
}
